<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { nextTick, ref } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['ง่วง','กินละ','นอน','หลับ']
function send(message:string){
  messages.value.push(message)
  comAnswer()
}
function comAnswer(){
  const ranAns = Math.floor(Math.random()*10000)%answers.length
  const answer = answers[ranAns]
  messages.value.push(answer)
  nextTick(()=>{
    messageList.value?.updateUI()
  })
  
}
</script>
<template>
    <MessageList ref="messageList" :messages="messages"/>
    <MessageBox @send="send"/>
</template>