<script setup lang="ts">
import NumberButton from '@/components/NumberButton.vue';
import DummyComponent from '@/components/DummyComponent.vue';
import { provide, ref } from 'vue';
const num1 = ref(0)
provide('num1',num1)
//provide('num1Click',num1Click)
function num1Click(num:number){
  num1.value++
}
</script>

<template>
  <div style="text-align: center;">
    <img src="../assets/me.jpg" alt="" style="width: 300px; border-radius: 50%;">
    <h3>สวัสดีชาวโลก ผมเตอร์ครับ</h3>
    {{ num1 }}
    <DummyComponent/>

  </div>
</template>
